<div class="row">
	<div class="jumbotron">
		<h1>Flights nearly anywhere.</h1>
		<p>Book a flight to and from 4 major cities.</p>
	</div>
	<div class="row" id="search">
		<%= form_tag(root_path, :method => :get ) do%>
			<div class="col-md-2">
				<%= label_tag "From:" %>
				<%= select_tag(:from_id, options_for_select(@airport_options), class: "form-control" ) %>
			</div>
			<div class="col-md-2">
				<%= label_tag "To:" %>
				<%= select_tag(:to_id, options_for_select(@airport_options), class: "form-control" ) %>
			</div>
			<div class="col-md-4">
				<%= label_tag "Depature Date:" %>
				<%= select_tag(:date, options_for_select(@date_options), class: "form-control" ) %>
			</div>
			<div class="col-md-2">
				<%= label_tag "Passengers:" %>
				<%= select_tag(:num_tickets, options_for_select([[1],[2],[3],[4]]), class: "form-control" ) %>
			</div>
			<div class="col-md-2">
				<%= label_tag %>
				<%= submit_tag "Search", class: "form-control btn btn-info" %>
			</div>
		<% end %>
	</div>
</div>
<hr>
<div class="row">
	<% if @flights.any? %>
		<h4><%= "Flights on #{params[:date].to_datetime.strftime("%D")} for #{params[:num_tickets]} passengers" %></h4>
		<%= form_tag({controller: "bookings", action: "new"}, :method => :get ) do %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Departure</th>
						<th>Arriving</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<% @flights.each do |flight| %>
						<tr>
							<td><%= radio_button_tag 'flight', flight.id %></td>
							<td><%= flight.from_airport.code %></td>
							<td><%= flight.to_airport.code %></td>
							<td><%= flight.departure_time.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p") %></td>
						</tr>
						<%= hidden_field_tag "num_tickets", params[:num_tickets] %>
					<% end %>
				</tbody>
			</table>
			<%= submit_tag "Book Flight", class: "btn btn-success pull-right" %>
		<% end %>
	<% end %>
</div>