<div class="row">
	<div class="jumbotron">
		<h1>Flights nearly anywhere.</h1>
		<p>Book a flight to and from 4 major cities.</p>
	</div>
	<div class="row" id="search">
		<%= form_tag(root_path, :method => :get ) do%>
			<div class="col-md-2">
				<%= label_tag "From:" %>
				<%= select_tag(:from_id, options_for_select(@airport_options), class: "form-control" ) %>
			</div>
			<div class="col-md-2">
				<%= label_tag "To:" %>
				<%= select_tag(:to_id, options_for_select(@airport_options), class: "form-control" ) %>
			</div>
			<div class="col-md-4">
				<%= label_tag "Depature Date:" %>
				<%= select_tag(:date, options_for_select(@date_options), class: "form-control" ) %>
			</div>
			<div class="col-md-2">
				<%= label_tag "Passengers:" %>
				<%= select_tag(:num_tickets, options_for_select([[1],[2],[3],[4]]), class: "form-control" ) %>
			</div>
			<div class="col-md-2">
				<%= label_tag %>
				<%= submit_tag "Search", class: "form-control btn btn-info" %>
			</div>
		<% end %>
	</div>
</div>
<hr>
<% @flights.each do |flight| %>
	FROM:
	<%= flight.from_airport.code %>
	TO:
	<%= flight.to_airport.code %>
	DATETIME:
	<%= flight.departure_time %>
<% end %>