<div class="row">
	<h4><%= "Create Booking For: #{@flight.from_airport.code} To #{@flight.to_airport.code} on #{@flight.flight_date}"%></h4>
	<%= form_for @booking, :html => {:class => 'form-horizontal'} do |f| %>
		<%= f.hidden_field :flight_id %>
		<div class="row">
			<hr class="col-md-8">
		</div>
		<%= f.fields_for :passengers do |passengers| %>
			<%= render 'passenger_fields', f: passengers %>
		<% end %>
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<%= f.submit "Submit", class: "btn btn-success" %>
			</div>
		</div>
	<% end %>
</div>